.limit_container {
    align-self: flex-start;
}

@media (min-width: 1000px) { /* Large screen */
    .select_app_container {
        display: flex;
        margin-bottom: 10px;
        gap: 10px;
    }

    .select_box {
        width: 50%;
    }
}

@media (max-width: 900px) { /* small screen */
    .select_app_container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        justify-content: center;
        width: 100%;
        gap: 10px;
    }

    .select_box {
        width: 100%;
    }
}