@media (min-width: 1000px) { /* Large screen */
    .container {
        padding-top: 20px;
        display: flex;
        width: 100%;
        gap: 10%;
    }
    
    .category_container{
        flex-grow: 1;
    }
}

@media (max-width: 900px) { /* small screen */
    .container {
        padding: 10px;
    }
}
