.select-box {
    width: 20% !important;
}

.select-app-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.limit-container {
    align-self: flex-start;
    padding: 20px;
}

.container {
    padding: 20px;
}